/* Basic CSS reset */
*,
:after,
:before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* You start your css below */

body {
    font-family: 'Hind Siliguri', sans-serif;
}

/* NAVIGATION BAR */

.nav_bar {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    background-color: #fff;
    -webkit-box-shadow: 0px 10px 20px -2px rgba(0,0,0,0.5); 
    box-shadow: 0px 7px 8px -2px rgba(32, 32, 32, 0.247);
} 

/* Logo */

.logo {
    width: 45%;
    margin: 20px 20px 15px 20px;
 }

 .desktop_menu{
     display: none;
 }


/*CCS sektion med velkomst, top billede og bestillingsknap */

.staff {
    position: relative;
    margin-top: 80px;
}

.staff_pic {
    width: 100%;
    opacity: 88%;
    height: 200px;
    clip-path: polygon(70% 100%, 100% 85%, 100% 0, 0 0, 0 85%);
}

.staff_text {
    position: absolute;
    top: 30px;
    left: 15px;
    background-color: rgb(153 153 153 / 30%);
    padding: 20px;
    color: white;
    font-size: 1.3rem;
    text-align: left;
    font-weight: bold;  
}

/* CSS sektion med tekst om tandsundhed*/

.omsorg h1 {
    text-align: center;
    font-size: 1.3rem;
    margin-top: 10px;
    color: #000066;
    
}

.omsorg p {
    text-align: justify;
    line-height: 122%;
    width: 100%;
    padding: 5px 20px 20px 20px;
    display: block;
    margin: 0 auto;
    color: #000066;

}

.omsorg img {
    display: none;
}


/* CSS sektion med kampagne og video */

.kampagne {
    margin-top: 20px;
    background-color: rgb(0 0 102 / 15%);
    height: 395px;
    text-align: center;
}

.kampagne h1 {
    color: #e09400;
    text-align: center;
    padding: 7px;
    font-size: 1.3rem;
}

.kampagne iframe {
    display: block;
    margin: 0 auto;
    width: 90%;
    height: 70%;
}

.buttom_box {
    margin-top: 20px;
}

.kampagne_buttom {
    text-decoration: none;
    color: #e09400;
    background-color: white;
    font-size: 1rem;
    border-radius: 3px;
    padding: 5px 10px 5px 10px;
    box-shadow: 5px 5px 5px gray;
}

/*CSS sektion med åbningstider */

.aabningstider {
    background-color: #000066;
    padding-bottom: 20px;
    
}

.aabningstider img {
    width: 18%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    align-items: center;
    margin: 0 auto;

}

.aabningstider h2 {
    text-align: center;
    color: white;
    font-size: 1.3rem;
}

.aabningstiderne {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    font-size: 1.1rem;   
}

.aabningstider li {
    list-style-type: none;
}


/* CSS sektion med maps */

.maps {
    margin: 20px;
    box-shadow: 5px 5px 5px gray;

}


/* CSS sektion med underside valg */

.choose_box {
    width: 100%;
}

.choose_card {
    background-color: #000066;
    color: white;
    text-align: center;
    padding: 40px;
    font-size: 2rem;
    box-shadow: 5px 5px 5px grey;
    margin: 20px;
    cursor: pointer;
}

.choose_card a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;

}


/* CSS sektion med slider */
.wrap {
    width: 100%;
    overflow: hidden; 
    padding: 10px;
  }
  
  .slide .name {
    font-size: 1.1rem;
    text-align: right;
    font-weight: bold;
  }
  
  .slide {
    font-size: 1.1rem;
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    flex-shrink: 0; 
  }
  
  .move {
    display: flex;
    position: relative;
  }
  
  
  @keyframes slider {
      0% {
          left: 0;
      }
      20% {
          left: 0;
      }
      25% {
          left: -100%;
      }
      45% {
          left: -100%;
      }
      50% {
          left: -200%;
      }
      70% {
          left: -200%;
      }
      75% {
          left: -300%;
      }
      95% {
          left: -300%;
      }
      100% {
          left: -400%;
      }
  }
  
  .move { animation: slider linear 20s infinite; }
  .move:hover { animation-play-state: paused; }



/* FOOTER */

.footer {
    width: 1wv;
    background-color: #000066;
    clip-path: polygon(50% 0, 100% 10%, 100% 100%, 0 100%, 0% 10%);
    position: relative;
    bottom: 0;
}

.footer_card_container {
    display: block;
    text-align: center;
}


.footer img { 
    max-width: 23%;
    margin-top: 23px;
    padding-bottom: 10px;
}


.footer_icons_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    color: white;
    padding: 50px;
}


.footer h1 {
    font-size: 1.1rem;
    text-decoration: underline;
    margin-bottom: 5px;
}

.footer address {
    text-align: center;
}

.footer_aabningstider{
    display: flex;
    flex-direction: row;   
}


.footer_card {
    padding-left: 10px;
    padding-right: 10px;
}

.footer li {
    list-style-type: none;
}



/* optimering til ipad */

@media screen and (min-width: 600px) {

    .logo {
        width: 35%;
    }

    .staff_pic {
        height: 350px;
    }

    .staff_text {
        font-size: 1.8rem;
    }

    .omsorg h1 {
        font-size: 1.8rem;
    }

    .omsorg p {
        font-size: 1.3rem
    }

    .kampagne h1 {
        font-size: 1.8rem;
    }

    .kampagne {
        height: 480px;
    }

    .kampagne_buttom {
        padding: 10px 15px 10px 15px;
        font-size: 1.3rem;
    }

    .aabningstider h2 {
        font-size: 1.8rem;
    }

    .aabningstiderne {
        font-size: 1.3rem;
        margin-left: 50px;
        margin-right: 50px;
    }

    .aabningstiderne ul {
        padding: 15px;
    }

    .aabningstider img{
        width: 15%;
    
    }

    .aabningstider {
        margin-top: 0;

    }

    .maps {
        display: block;
        margin: 20px 20px 20px 20px;
    }

    .choose_card {
        width: 170px;
        height: 170px;
        font-size: 2rem;
        padding: 30px 15px 15px 15px;
        margin: 0;
    }

    .choose_box {
        margin-top: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
       
    }

    .slideshow-container {
        width: 80%;
        display: block;
        margin: 0 auto;
        align-items: center;
        margin-top: 20px;
        height: 170px;
    }

    .text {
        font-size: 1.3rem;
    }

    .name {
        font-size: 1.1rem;
    }
    
    .dot {
        height: 20px;
        width: 20px;
    }

    /* FOOTER */
}

@media screen and (min-width: 768px) {

    .choose_card {
        width: 250px;
        padding-top: 55px;
        margin: 20px;
    }
    
    /* FOOTER */

    .footer img { 
        max-width: 35%;
    }


    .footer_icons_div{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 800px;
    }


    .footer h1 {
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 900px) {

    .desktop_menu{
        display: block;
    }

    .nav_bar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        max-width: 1200px;
    }

    .logo_box {
        max-width: 18%;
    }

    .desktop_menu a {
        text-decoration: none;
        margin: 20px;
        font-size: 1.1rem;
        color: #000066;
        cursor: pointer;
    }

    .logo {
        width: 100%;
        margin: 15px;
    }

    /* Menupunkter */
    #menu a:hover {
	    color: #000066;
    }
    
    /* OMSORG TEKST */

    .omsorg {
        margin-top: 30px;
        margin-bottom: 40px;
    }

    .omsorg img {
        display: block;
        width: 150px;
    }

    .text_text {
        max-width: 75%;
    }

    .img_img {
        margin-right: 50px;
    }
 
    .text_illustration{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .flex_box {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: 10px;
        padding-top: 20px;
    }

    .aabningstider {
        height: 400px;
        width: 400px;
        box-shadow: 5px 5px 5px gray;

    }

    .maps {
        margin: 0;
        height: 400px;
        width: 400px;

    }


}

@media screen and (min-width: 1100px) {


    .staff_pic {
        height: 400px;
    }

    .omsorg img {
        width: 150px;
    }

    .omsorg {
        margin-left: 20px;

    }

    .text_text {
        max-width: 78%;
    }

    .aabningstider {
        width: 500px;
    }

    .maps {
        width: 500px;
    }

    .choose_box {
        padding: 10px;
        margin: 0;
    }
    .choose_card {
        width: 100%;
    }

    }

    @media screen and (min-width: 1200px) {

        .staff_pic {
            height: 450px;
        }

        .text_text {
            max-width: 80%;
        }

        .kampagne {
            height: 760px;
        }

        .kampagne iframe {
            height: 80%;
        }

        .buttom_box {
            margin-top: 30px;
        }

        .aabningstider {
            width: 550px;
        }

        .maps {
            width: 550px;
        }

        .footer_icons_div {
            max-width: 90%;
        }





    }